{% extends "questionLayout.html" %}

{% set active_page = "page3" %}

{% block title %}Page 3{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Question 4</h1>

    <form action="/p5" class="mb-5" method="POST">
        <p>What was the Roosevelt Corollary?</p>

        <div class="mb-3">
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio13" name="optradio" value="1">Banning the exports of weapons and ammunition to European countries
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio14" name="optradio" value="2">A document stating the U.S. could intervene with internal affairs in Latin America
                <label class="form-check-label" for="radio2"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio15" name="optradio" value="3">The annexation of Texas as a U.S. state
                <label class="form-check-label"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio16" name="optradio" value="4">Creation of an alliance with France
                <label class="form-check-label"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
{% endblock %}
