{% extends "questionLayout.html" %}

{% set active_page = "page3" %}

{% block title %}Page 3{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Question 3</h1>

    <form action="/p4" class="mb-5" method="POST">
        <p>What was the way most Americans got information during the Cold War?</p>

        <div class="mb-3">
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio9" name="optradio" value="1">Telephone
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio10" name="optradio" value="2">Television
                <label class="form-check-label" for="radio2"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio11" name="optradio" value="3">Newspaper
                <label class="form-check-label"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio12" name="optradio" value="4">Radio
                <label class="form-check-label"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Next Question</button>
    </form>
{% endblock %}
