{% extends "questionLayout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Question 1</h1>

    <form action="/p2" class="mb-5" method="POST">
        <p>What did the Monroe Doctrine accomplish?</p>

        <div class="mb-3">
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="1">Ended Laissez Faire
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="2">Created tariffs on goods from Latin American countries
                <label class="form-check-label" for="radio2"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio3" name="optradio" value="3">Stated that the Western Hemisphere was off limits to European settlement
                <label class="form-check-label"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio4" name="optradio" value="4">WWII draft in the U.S.
                <label class="form-check-label"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Next Question</button>
    </form>
{% endblock %}
