{% extends "questionLayout.html" %}

{% set active_page = "page2" %}

{% block title %}Page 2{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Question 2</h1>

    <form action="/p3" class="mb-5" method="POST">
        <p>Which of the following were reasons for U.S. involvement in WWII?</p>

        <div class="mb-3">
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio5" name="optradio" value="1">Attack on Pearl Harbor
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio6" name="optradio" value="2">Invasion of Germany into Eastern European countries
                <label class="form-check-label" for="radio2"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio7" name="optradio" value="3">Zimmerman Telegram
                <label class="form-check-label"></label>
            </div>
            <div class="form-check mb-2">
                <input type="radio" class="form-check-input" id="radio8" name="optradio" value="4">Conflicts with Russia
                <label class="form-check-label"></label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Next Question</button>
    </form>
{% endblock %}
